@using System.Security.Cryptography
@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model != null)
{
    <h2>@Model.Name feed</h2>

}
else
{
    <h2>Model not found</h2>
} 

