@using System.Security.Cryptography
@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@if (Model != null)
{
    <h2>@Model.Name feed</h2>

}
else
{
    <h2>Model not found</h2>
}

<p>
    <a asp-action="Create" asp-controller="Post">Post Public</a>
</p>
<p>
    <a asp-action="Create" asp-controller="Post">Post To Circle</a>
</p>
