@model SocialNetwork.Models.Wall

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ownerID" class="control-label"></label>
                <input asp-for="ownerID" class="form-control" />
                <span asp-validation-for="ownerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="postIDs" class="control-label"></label>
                <input asp-for="postIDs" class="form-control" />
                <span asp-validation-for="postIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="followers" class="control-label"></label>
                <input asp-for="followers" class="form-control" />
                <span asp-validation-for="followers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blackList" class="control-label"></label>
                <input asp-for="blackList" class="form-control" />
                <span asp-validation-for="blackList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
