@model SocialNetwork.Models.Circle

@{
    ViewData["Title"] = "Circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Circle</h1>

@Html.ActionLink("Delete", "Delete"/*, new {  id=item.Id }*/)